:root {

  /* Colors */
 --yellow: #DEF81D;
 --blue: #1DC3F8;
 --dark-grey: #0A0A0A;
 --medium-grey: #111111;
 --grey: #373737;
 --light-grey: #676767;
 --white: #ffffff;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.mr-15 {
  margin-right: 15px;
}

.white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.product-container {
  padding: 15px 20px;
  background-color: var(--grey);
  border-radius: 10px;
  margin-bottom: 10px;
  color: var(--white);
}

.bg-body-tertiary {
  background-color: var(--grey) !important;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--white) !important;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-light .navbar-brand {
  color: var(--blue);
}
